In [2]:
import pandas as pd
import tmdbsimple as ts
ts.API_KEY='YOUR_API_KEY'

In [4]:
#Read dataset
movies=pd.read_csv('movie_data.csv')

C:\Users\Harman\.conda\envs\PDSH\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
#Get movie ids based on genre
rec_genre= pd.json_normalize(ts.Movies(id='27205').similar_movies()['results']).id.tolist()
rec_genre

[454992,
 8681,
 4723,
 281,
 14746,
 27576,
 460885,
 1281,
 47971,
 36955,
 26389,
 604,
 38,
 708,
 954,
 605,
 660,
 28609,
 353081,
 562]

In [15]:
#Get movies from db based on tmdb_id
movies[movies.tmdb_id.isin(rec_genre)].head(5)

,imdb_id,tmdb_id,original_language,poster_path,popularity,original_title,year,genre,country,director,actors,description,external_rating,rating
12226,tt0059800,660,English,http://image.tmdb.org/t/p/original/oJ5ybB57eid...,17.971,Thunderball,1965,"Action, Adventure, Thriller",UK,Terence Young,"Sean Connery, Claudine Auger, Adolfo Celi, Luc...",James Bond heads to the Bahamas to recover two...,7.0,0.0
21019,tt0088194,14746,English,http://image.tmdb.org/t/p/original/zmqsXtgGlcq...,12.218,Streets of Fire,1984,"Action, Crime, Drama",USA,Walter Hill,"Michael Paré, Diane Lane, Rick Moranis, Amy Ma...",A mercenary is hired to rescue his ex-girlfrie...,6.7,0.0
22573,tt0093428,708,English,http://image.tmdb.org/t/p/original/vIngn15zT32...,16.048,The Living Daylights,1987,"Action, Adventure, Thriller",UK,John Glen,"Timothy Dalton, Maryam d'Abo, Jeroen Krabbé, J...",James Bond is sent to investigate a KGB policy...,6.7,0.0
23046,tt0095016,562,English,http://image.tmdb.org/t/p/original/p5hURTvac8s...,34.405,Die Hard,1988,"Action, Thriller",USA,John McTiernan,"Bruce Willis, Bonnie Bedelia, Reginald VelJohn...",An NYPD officer tries to save his wife and sev...,8.2,0.0
27422,tt0111503,36955,English,http://image.tmdb.org/t/p/original/9yOzwgGdVoR...,24.961,True Lies,1994,"Action, Comedy, Thriller",USA,James Cameron,"Arnold Schwarzenegger, Jamie Lee Curtis, Tom A...","A fearless, globe-trotting, terrorist-battling...",7.2,0.0

In [22]:
#Get movie ids general
rec_gen= pd.json_normalize(ts.Movies(id='27205').recommendations()['results']).id.tolist()
rec_gen

#Similarly query db based on tmdb_id as in previous cell

[155,
 11324,
 49026,
 603,
 272,
 120,
 1124,
 550,
 122,
 121,
 807,
 68718,
 77,
 10528,
 16869,
 1422,
 680,
 59967,
 98,
 37724]

In [25]:
#Recommendations based on director
rec_dir=set(rec_gen+rec_genre)
rec_dir=list(rec_dir)
rec_dir

[1281,
 49026,
 1422,
 272,
 660,
 26389,
 281,
 14746,
 155,
 10528,
 550,
 807,
 680,
 38,
 562,
 27576,
 353081,
 954,
 11324,
 59967,
 28609,
 708,
 77,
 454992,
 460885,
 603,
 37724,
 36955,
 604,
 605,
 98,
 47971,
 1124,
 16869,
 8681,
 68718,
 4723,
 120,
 121,
 122]

In [28]:
#Check for ids in the db
temp = movies[movies.tmdb_id.isin(rec_dir)]

#Get results for the particular director
temp[temp.director == 'Christopher Nolan']

,imdb_id,tmdb_id,original_language,poster_path,popularity,original_title,year,genre,country,director,actors,description,external_rating,rating
34479,tt0209144,77,English,http://image.tmdb.org/t/p/original/uprP8rtOgMY...,24.448,Memento,2000,"Mystery, Thriller",USA,Christopher Nolan,"Guy Pearce, Carrie-Anne Moss, Joe Pantoliano, ...",A man with short-term memory loss attempts to ...,8.4,0.0
40611,tt0372784,272,English,http://image.tmdb.org/t/p/original/1P3ZyEq02wc...,44.822,Batman Begins,2005,"Action, Adventure","USA, UK",Christopher Nolan,"Christian Bale, Michael Caine, Liam Neeson, Ka...","After training with his mentor, Batman begins ...",8.2,0.0
44260,tt0468569,155,English,http://image.tmdb.org/t/p/original/qJ2tW6WMUDu...,56.236,The Dark Knight,2008,"Action, Crime, Drama","USA, UK",Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",When the menace known as the Joker wreaks havo...,9.0,0.0
44866,tt0482571,1124,English,http://image.tmdb.org/t/p/original/pvSESD7ujxW...,22.518,The Prestige,2006,"Drama, Mystery, Sci-Fi","UK, USA",Christopher Nolan,"Hugh Jackman, Christian Bale, Michael Caine, P...","After a tragic accident, two stage magicians e...",8.5,0.0
52410,tt1345836,49026,English,http://image.tmdb.org/t/p/original/vzvKcPQ4o7T...,42.639,The Dark Knight Rises,2012,"Action, Adventure","UK, USA",Christopher Nolan,"Christian Bale, Gary Oldman, Tom Hardy, Joseph...",Eight years after the Joker's reign of anarchy...,8.4,0.0